{% extends "accounts/base.html" %}

{% load static %}
{% load utility %}
{% block class %}
<link href="{% static 'css/friend_list.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#tab1" class="nav-link navbar-default active" data-toggle="tab">フォロー中</a>
    </li>
    <li class="nav-item">
        <a href="#tab2" class="nav-link navbar-default" data-toggle="tab">フォロワー</a>
    </li>
    <li class="nav-item">
        <a href="#tab3" class="nav-link navbar-default" data-toggle="tab">相互フォロー</a>
    </li>
</ul>
<div class="tab-content">
    <div id="tab1" class="tab-pane active content_into_tab">
        <!--Tab1の内容-->
        {% for user in following %}
        {% with id=user.friend %}
        <div>
            <div class=profile_txt>
                <table class=tbl-plof>
                   <thead>
                        <tr>    
                            <td><a href="{% url 'mypage:profile' id=id %}" style="display:block;width:100%;height:100%;"><img src="{{id|get_iconpic_url}}"></a></td>
                            <td id="name_f"><a href="{% url 'mypage:profile' id=id%}" style="font-size: 15px;" >{{ id|get_displayname }}</a><br>
                            <a href="{% url 'mypage:profile' id=id %}" >　{{ id|get_graduationyear }}年度卒業</a><br>
                            <a href="{% url 'mypage:profile' id=id %}" >　{{ id|get_course }}</a></td>
                        </tr>
                    </thead>
                </table>
            </div>    
        </div>
        {% endwith %}
        {% endfor %}
    </div>


    <div id="tab2" class="tab-pane content_into_tab">
        <!--Tab2の内容-->
        {% for user in followed %}
        {% with id=user.user %}
        <div>
            {% if icon_pic %}
            <img src="{{id|get_iconpic_url}}" class="col-3">
            {% endif %}
            <div class ="col-9">
                <div class=profile_txt>
                    <table class=tbl-plof>
                        <td><a href="{% url 'mypage:profile' id=id %}" style="display:block;width:100%;height:100%;"><img src="{{id|get_iconpic_url}}"></a></td>
                        <td><a href="{% url 'mypage:profile' id=id %}" style="font-size: 15px;">{{ id|get_displayname }}</a><br>
                        <a href="{% url 'mypage:profile' id=id %}">　{{ id|get_graduationyear }}年度卒業</a><br>
                        <a href="{% url 'mypage:profile' id=id %}">　{{ id|get_course }}</a></td>
                    </table>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>


    <div id="tab3" class="tab-pane content_into_tab">
        <!--Tab3の内容-->
        {% for user in following_and_followed %}
        {% with id=user.friend %}
        <div>
            {% if icon_pic %}
            <img src="{{id|get_iconpic_url}}" class="col-3">
            {% endif %}
            <div class ="col-9">
                <div class=profile_txt>
                    <table class=tbl-plof>
                        <td><a href="{% url 'mypage:profile' id=id %}" style="display:block;width:100%;height:100%;"><img src="{{id|get_iconpic_url}}"></a></td>
                        <td><a href="{% url 'mypage:profile' id=id %}" style="font-size: 15px;">{{ id|get_displayname }}</a><br>
                        <a href="{% url 'mypage:profile' id=id %}" >　{{ id|get_graduationyear }}年度卒業</a><br>
                        <a href="{% url 'mypage:profile' id=id %}" >　{{ id|get_course }}</a></td>
                    </table>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
</div>
{% endblock %}