{% extends "accounts/base.html" %}
{% load static %}
{% load utility %}
{% block class %}
<!-- cssを追加できる -->
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class ="profile_head row d-flex align-items-center">
   
        <img src="{{user_detail.user.id|get_iconpic_url}}" class="col-3 img-fluid">
    
    <div class ="col-9">
        <div class="row d-flex align-items-center container-fluid">
            <div class="col-9">
                <h4>{{ display_name }}</h4>
                
                <a>{{ user_detail.graduation_year }}年度卒</a>
                <a>{{ user_detail.get_course_display }}</a>
            
            </div>
            <div class="col-3">
            {% if follow_state != 5%}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="followstate_ChangeParam" value="{{follow_state}}">
                <button type="submit" class="btn btn-outline-secondary btn-sm">{{followButton_txt}}</button> 
            </form>     
            {% endif %} 
            </div>              
        </div>
        <div class="userComment">
        <a>{{ userComment.comment }}</a>    
        </div>
    </div> 
</div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#tab1" class="nav-link navbar-default active" data-toggle="tab">大学生活</a>
        </li>
        <li class="nav-item">
            <a href="#tab2" class="nav-link navbar-default" data-toggle="tab">就職活動</a>
        </li>
        {% if follow_state == 1 %}
        <li class="nav-item">
            <a href="#tab3" class="nav-link navbar-default" data-toggle="tab">相互フォロワー機能</a>
        </li>
        {% endif %}
    </ul>

        <!--タブの中身-->
        <div class="tab-content">
            <div id="tab1" class="tab-pane active content_into_tab">
                <!--Tab1の内容-->
                <div class ="sep_data">
                    <h4>所属しているサークルや部活</h4>
                    {% for field in club %}
                    <table class="table sep_data">
                        <tr>
                            <td>
                                <p>名称：</p>
                                {{ field.club_name }}
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
                </div>
                <div class ="sep_data">
                        <h4>オープンクエスチョン</h4>
                        {% for field in openQ %}
                        <table class="table sep_data">
                            <tr>
                                <td>
                                    <p>質問：</p>
                                    {{ field.openQ }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        
                                        
                                       
        
                                        <div id="accordion">
                                          <div class="card" style="background-color: #ffffff;">
                                            <div class="card-header" id="headingOne">
                                              <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                  回答をみる
                                                </button>
                                              </h5>
                                            </div>
                                        
                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                              <div class="card-body">
                                                  {{ field.ans|linebreaksbr }}
                                            
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    
                                    
                                </td>
                            </tr>
                        </table>
                        {% endfor %}
                </div>               
            </div>
            <div id="tab2" class="tab-pane content_into_tab">
                <!--Tab２の内容-->
                <div class ="sep_data">
                    <h4>就活希望</h4>
                    <table class="table">
                        <tr>
                            <td>
                                <p>希望業界：</p>
                                {{ jobReqestment.industry }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>希望職種：</p>
                                {{ jobReqestment.occupation }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>希望勤務地：</p>
                                {{ jobReqestment.workplace }}
                            </td>
                        </tr>
                    </table>
                </div>
                

                <div class ="sep_data">
                    <h4>就活ログ</h4>
                    <table class="table">
                        <tr>
                            <td>
                                <p>就活の軸：</p>
                                {{ policy.policy|linebreaksbr }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>就活を始めた時期：</p>
                                {{ jobHunting_startTime.season|linebreaksbr }}
                            </td>
                        </tr>

                    </table>
                </div>

    

                <div class ="sep_data">
                    <h4>おすすめのインターンシップ</h4>
                    {% for field in internship_rec %}
                        <table class="table">
                            <tr>
                                <td>
                                    <p>業界：</p>
                                    {{ field.industry }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>職種：</p>
                                    {{ field.occupation }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>社名：</p>
                                    {{ field.company_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>時期：</p>
                                    {{ field.season }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>期間：</p>
                                    {{ field.period }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>内容：</p>
                                    {{ field.overView|linebreaksbr }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>感想：</p>
                                    {{ field.implessions|linebreaksbr }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>最終更新日：</p>
                                    {{ field.post_date }}
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                    </div>
                </div>
                

            <div id="tab3" class="tab-pane content_into_tab">
                <!--Tab３の内容-->
            <a href="{% url 'questionBoxes:create' id=display_user.pk %}">質問する</a>
            <a href="{% url 'addexchange:request' id=display_user.pk %}">アドレス交換申請する</a>
            </div>

        </div>   
    </div>
{% endblock %}

