{% extends 'accounts/base.html' %}
{% load utility %}  
{% load custom_filters %}
{% load static %}
{% block class %}
<link rel="stylesheet" href="{% static '/css/search_user.css' %}">
{% endblock %}
{% block content %}
    <form method="get" action="" name="filter_form">
        <legend>ユーザー検索</legend>
        <div>
        {% comment %} <input type="search" autocomplete="on"  id="filter_name" > {% endcomment %}
        <span>学科</span>
        <select name="course">
        <option value ="">--------<option>
        <option value="2">国際関係学科</option>
        <option value="3">多文化・国際協力学科</option>
        <option value="4">数学科</option>
        <option value="5">情報科学科</option>
        <option value="6">総合政策学科</option>
        </select>
        <button id="filter">絞り込み</button>
        
        </div>
    
    
        
            
        <div id="main">
        <h1>結果</h1>
        <table>
            
            {% for user in object_list %}
            <div class="linklink">
                <p class="card-text">                　　
                　　<img src="{{user_detail.user.id|get_iconpic_url}}" class="col-3 img-fluid">
                    卒業年度:{{ user.graduation_year  }} 
                    <br>
                    学科:{{ user.get_course_display }}
                    <br>
                    名前:{{ user.display_name }}
                </p>
            </div>
            {% endfor %}
        </table>
    </div>

    {% endblock %}