{% extends 'accounts/base.html' %}
{% load utility %}
{% load static %}

{% block class %}
<link href="{% static 'css/top.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="all">
    <h2>News</h2>
    <div class ="news">
        <h3>新着フォロワー</h3>
        <div class="overflow-auto area-border">
            {% if followed.count is 0 %}
            <p>・新着情報はまだありません</p>
            {% endif %}
            {% for user in followed %}
            {% with id=user.user %}
            <div class="overflow-hidden row d-flex align-items-center container-fluid">
                <a href="{% url 'mypage:profile' id=id %}"></a>
                <div class = "col-3">
                    {% if id|get_iconpic_url %}
                    <img src="{{ id|get_iconpic_url }}" class="img-fluid">
                    {% endif %}
                </div>
                <div class ="col-9">
                    <div class=profile_txt>
                        <h5>{{ id|get_displayname }}</h5>
                        <p>{{ id|get_course }}学科 {{ id|get_graduationyear }}</p>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>     
    </div>
    <div class = "news">
        <h3>新着質問</h3>
        <div class="overflow-auto area-border">
            {% if I_unanswered_qBox.count is 0 %}
            <p>・新着情報はまだありません</p>
            {% endif %}
            {% for qbox in I_unanswered_qBox %}
                <div class="overflow-hidden row d-flex align-items-center container-fluid">
                    <a href="{% url 'questionBoxes:answer' id=qbox.pk %}"></a>
                    <div class="col-12">
                    <div class="linklink">
                
                        <div>  
                            <p>{{ qbox.questionner.id|get_course }}学科 {{ qbox.questionner.id|get_graduationyear }} {{ qbox.questionner.id|get_displayname }}</p>
                        </div>
                
                        <div>
                            <p>質問日時：{{ qbox.created_at|date:"Y-m-d" }}</p>
                        </div>
                        <div>
                            <p>タイトル：{{ qbox.title}}</p>
                        </div>
                        <a class="Link"  href="{% url 'questionBoxes:answer' id=qbox.id %}"></a>
                    </div>
                    </div>

            
                </div>
            {% endfor %}
        </div>
    </div>
    <div class ="news">
        <h3>新着アドレス交換申請</h3>  
        <div class="overflow-auto area-border">
            {% if I_unanswered_addExc.count is 0 %}
            <p>・新着情報はまだありません</p>
            {% endif %}
            {% for addexc in I_unanswered_addExc %}
            <div class="overflow-hidden row d-flex align-items-center container-fluid">
                <a href="{% url 'addexchange:detail' id=addexc.pk %}"></a>
                
                    <div class="col-12">
                    
                        <div class ="linklink">
                            {{ addexc.questioner.id|get_course }}学科  {{ addexc.questioner.id|get_graduationyear }} {{ addexc.questioner.id|get_displayname }}
                            <br>
                            申請日時: {{ addexc.request_time|date:"Y-m-d" }}
                            <a class="Link" href="{% url 'addexchange:confirm' id=addexc.pk %}"></a>
                        </div>
                        
                    </div>
                
                   
            </div>
            {% endfor %}
        </div>  
    </div>
</div>
{% endblock %}