{% extends 'accounts/base.html' %}
{% load utility %}

{% block content %}
    {% for user in users %}
        <div>
            {% if user.icon_pic %}
            <img src="{{user.icon_pic.url}}" class="col-3">
            {% endif %}
            <div class ="col-9">
                <div class=profile_txt>
                    <a href="{% url 'mypage:profile' id=user.user.pk %}">{{ user.user.id|get_displayname }}</a>
                    <a>{{ user.graduation_year }}年度卒業</a><br>
                    <a>{{ user.get_course_display }}学科</a><br>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}