
.profile_head{
    background-color:#acdce3;
}
.content_into_tab{
    padding: 5vw;
    padding-top: 10vw;
}
.sep_data{
    margin-bottom: 10vw;
}
.userComment{
    padding: 1rem;
    font-size: 0.7rem;
}



