.area-border{
    width:80vw; 
    max-width: 800px;
    max-height: 200px;
    border: 1px solid #9da8aa;
    border-radius: 15px;
}

.news{
    margin-top: 30px;
}

.all{
    margin-right: 10vw;
    margin-left: 10vw;
}