.area-border{
    width:80vw; 
    max-width: 800px;
    max-height: 200px;
    border: 1px solid #9da8aa;
    border-radius: 15px;
}

.news{
    margin-top: 30px;
}

.all{
    margin-right: 10vw;
    margin-left: 10vw;
}
.linklink{
    
    position:relative;
    border-top: 1px solid #049cc2;
    
}
.linklink .Link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
}
.linklink :hover{
    background-color:#0063663f; 
    width: 100%;
    height: 100%;
}

