{% extends 'accounts/base.html' %}
{% load utility %}  
{% load custom_filters %}
{% load static %}

{% block class %}
<link rel="stylesheet" href="{% static '/css/search_questionbox.css' %}">
{% endblock %}

{% block content %}


    <form method="get" action="" name="filter_form">
        <legend>質問検索</legend>
    <div>
        <p>タグ：
        <label><input type="checkbox" id="filter_tag" name="tag" value="1">ES</label>
        <label><input type="checkbox" id="filter_tag" name="tag" value="2">Webテスト</label>
        <label><input type="checkbox" id="filter_tag" name="tag" value="3">自己分析</label>
        <label><input type="checkbox" id="filter_tag" name="tag" value="4">GD</label>
        <label><input type="checkbox" id="filter_tag" name="tag" value="5">面接</label>
        <label><input type="checkbox" id="filter_tag" name="tag" value="6">インターン</label>
        <label><input type="checkbox" id="filter_tag" name="tag" value="7">本選考</label>
        <label><input type="checkbox" id="filter_tag" name="tag" value="8">業界研究</label>
        <label><input type="checkbox" id="filter_tag" name="tag" value="9">企業研究</label>
       
        </p>   
    </div>
    <div>
    <span>質問者の学科</span>
        <select name="gakka" >
        <option value ="">--------</option>
        <option value="1">英語英文学科</option>
        <option value="2">国際関係学科</option>
        <option value="3">多文化・国際協力学科</option>
        <option value="4">数学科</option>
        <option value="5">情報科学科</option>
        <option value="6">総合政策学科</option>
        </select>
    </div>
    <br>

    <div>
    {{ form }}
        <span>質問内容:</span>
        <input type="search" id="filter_ans"
            name="advice" 
            placeholder="フリーワード">
        
    </div>
    <br>
     <button id="filter">絞り込み</button>
    <div id="main">
    <br>

    <h3>結果</h3>
        <table　>
            {% for ques in object_list %}
            <div class ="questionLink">
                <p class="card-text">
                    質問タイトル:{{ques.question.title}}
                    <br>
                    質問日時：{{ques.question.created_at}}
                    <br>
                    
                    質問者：{{ques.question.questionner.id|get_course}}

                </p>
                <a class="Link" href="{% url 'questionBoxes:detail' id=ques.question.pk %}"></a>
            </div>
            {% endfor %}
        
        </table>
    </div>
    
    <!-- 前へ の部分 -->
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}

    <!-- 1/3 の部分 -->
   {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}

    <!-- 次へ の部分 -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    {% endif %}
    {% endblock %}